body{
    margin:0px;
    padding: 0px;
    font-family: fantasy;
    background-color: rgba(151,151,151,0.03);
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 20px;
}
.logo img{
    height: 120px;
}
nav .menu{
    display: flex;
}
nav .menu li a{
    height: 40px;
    line-height: 43px;
    margin: 0px;
    padding: 0px 22px;
    display: flex;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
    color: grey;
    letter-spacing: 1px;
}
.search{
    width: 250px;
    height: 40px;
    background-color:grey;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 0px 20px;
}
.search input{
    font-size: 20px;
    color: white;
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
}
.search i {
    color: white;
}
::placeholder{
    color: white;
}
nav .menu li a:hover{
    background-color: black;
    color: white;
    box-shadow: 5px 10px 30px rgba(53,53,53,0.1);
    transition: all ease 0.2s;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie {
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
}
.movie:hover {
    transform: scale(1.1);
    transition:transform 0.3s ease-in;
}
.movie img{
    width: 100%;
}
.movie-info{
    color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}
.movie-info h3{
    margin-top: 0;
    font-size: 25px;
    font-family: poppins;
}
.movie-info span{
    background-color: grey;
    padding:0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}
.movie-info span.green{
    color: lightgreen;
}
.movie-info span.orange{
    color: orange;
}
.movie-info span.red {
    color: red;
}
.overview{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.8;
    padding: 1rem;
    height: 100%;
    transform: translateY(100%);
    transition:transform 0.3s ease-in;
}
.movie:hover .overview{
    transform: translateY(0);
}